@{
    ViewData["Title"] = "GetForm";
}
<h1>Register</h1>

<form id="regform" method="post" action="/home/regform">
    <label>First Name</label><input type="text" id="FirstName" name="FirstName" /><br />
    <label>Last Name</label><input type="text" id="LastName" name="LastName" /><br />
    <label>Email</label><input type="text" id="Email" name="Email" /><br />
    <label>Password</label><input type="password" id="Password" name="Password" /><br />
    <label>Confirm Password</label><input type="password" id="ConfirmPassword" name="ConfirmPassword" /><br />

    <input type="submit" value="Sign Up!" />


</form>

<script>

    let regform = document.querySelector("#regform");




</script>

